#nav{
list-style-type: none;
display: flex;
font-size: larger;
list-style-type: none;
text-decoration: none;

/* margin-left: 35%; */
}

#nav2{
    display: flex;
    gap: 20%;
    margin-left: 30%
    
 
    
} 

#loginbutton{
    margin-left: 10%;
    
}

.loginbutton{
    gap: 5%;
    background-color:  #ED2647;
    border-radius: 30%;
    
}

#loginbuttn{
    margin-left: 15%;
   
}
a{
    text-decoration: none;
    color: #000;
}   
.active{
    color: #ED2647;
}
#body{
    margin-left: 10%;
}

#paragraph1{
    display: flex;
    gap: 20%;
    /* font-size: x-large; */
}


#superheroicon{
    border-radius: 40%;
    width: 80%;
    height: 80%;
}

#logo{
    display: flex;
    gap: 10%;
    margin-left: 2%;
}

#bt{
    border-radius: 10%;
    width: 50%;
}

#bt2{
    border-radius: 10%;
    background-color: #ED2647;
}

.icon{
    display: flex;
}

#word{
    display: flex;
    gap: 20%;
}

#explorebutton{
    background-color: #ED2647;
    height: 50%;
    border-radius: 15%;
    padding: 5%;
    
    
}

#container{
    font-size: large;
}

#buttn{
    position: relative;
}
#btn{
    border-radius: 15%;
    
  
}

#loginbutton{
    display: flex;
   
}


#skillsbutton{
    border: solid 1px;
    height: 10%;
    display: flex;

  
}



@media screen and (max-width: 890px) {
#nav{
    /* flex-wrap: wrap; */
}


#nav2{
    /* display: grid; */
    flex-wrap: wrap;
    
    margin-right: 30%;
}

#icn{
    display: grid;
}


#super{
    height: 30%;
    width: 30;
}

.hamburger-menu {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 22px;
    margin-left: 70%;
}
.hamburger-menu div {
    background-color: #333;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 100%;
    transition: all 0.3s ease-in-out;
}
.hamburger-menu div:nth-child(1) {
    margin-top: 35px;
}
.hamburger-menu div:nth-child(2) {
    margin-top: 40px;
}
.hamburger-menu div:nth-child(3) {
    margin-top: 45px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    padding: 10px 20px;
}
.nav a {
    text-decoration: none;
    color: #333;
}
.buttons button {
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
}
.buttons button:hover {
    background-color: #555;
}
.nav.open {
    transform: scale(1, 1);
}


}